<footer class="text-center text-white" style="background-color: #4f4f4f;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <app-button-linkedin></app-button-linkedin>
          <i class="fab fa-linkedin"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <app-button-instagram></app-button-instagram>
          <i class="fab fa-instagram"></i
        ></a>
  
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <app-button-facebook></app-button-facebook>
          <i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          >
          <app-button-github></app-button-github>
          <i class="fab fa-github"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="">Rojas Marcos</a>
    </div>
    <!-- Copyright -->
  </footer>