<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearEducacion">
    BOTON DE CREAR Educacion
  </button>
-->
<!-- Modal -->
<div class="modal fade" id="crearEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Educacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                
                    <label for="titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo"
                    [(ngModel)]="titulo" name="titulo" required>

                    <label for="institucion" class="form-label">Institucion</label>
                    <input type="text" class="form-control" id="Institucion"
                    [(ngModel)]="institucion" name="institucion" required>
                
                    <label for="periodo" class="form-label">Periodo</label>
                    <input type="text" class="form-control" id="periodo"
                    [(ngModel)]="periodo" name="periodo" required>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
            </div>
            
        </div>
    </div>
</div>