<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarProyecto">
    BOTON DE EDITAR PROYECTO
  </button>
-->
<!-- Modal -->
<div class="modal fade" id="editarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Proyecto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nombre del proyecto</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="info anterior">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Descripcion breve</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="info anterior">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Link del proyecto</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="info anterior">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Link de foto del proyecto</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="info anterior">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>