<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarExperiencia">
    BOTON DE editar Educacion
  </button>
-->
<!-- Modal 
<div class="modal fade" id="birrador" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="">
                        <label for="puesto" class="form-label">Puesto</label>
                        <input type="text" class="form-control" id="puesto"
                         placeholder="info anterior" [(ngModel)]="expeLab.puesto" name="puesto" required>
                    </div>
                <div class="">
                    <label for="empresa" class="form-label">Empresa </label>
                    <input type="text" class="form-control" id="empresa" 
                    placeholder="info anterior" [(ngModel)]="expeLab.empresa" name="empresa" required >
                </div>
                <div class="">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" 
                    placeholder="" [(ngModel)]="expeLab.descripcion" name="descripcion" required>
                </div>
                <div class="">
                    <label for="periodo" class="form-label">Periodo</label>
                    <input type="text" class="form-control" id="periodo" 
                    placeholder="info anterior"  [(ngModel)]="expeLab.periodo" name="periodo" required>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" (click)="onUpdate()"
                    > Guardar </button>
                </div>
                </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

[(ngModel)]="expeLab.descripcion" required
[(ngModel)]="expeLab.empresa"
[(ngModel)]="expeLab.puesto"
[(ngModel)]="expeLab.descripcion"
[(ngModel)]="expeLab.periodo"
-->
