<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarExperiencia">
    BOTON DE editar Educacion
  </button>
-->
<!-- Modal -->
<div class="modal fade" id="editarExperiencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Experiencia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="empresa" class="form-label">Empresa </label>
                    <input type="text" class="form-control" id="empresa" 
                    placeholder="info anterior" [(ngModel)]="expeLab.empresa" required>
                </div>
                <div class="mb-3">
                    <label for="puesto" class="form-label">Puesto</label>
                    <input type="text" class="form-control" id="puesto"
                     placeholder="info anterior" [(ngModel)]="expeLab.puesto" required>
                </div>
                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" 
                    placeholder="info anterior" [(ngModel)]="expeLab.descripcion" required>
                </div>
                <div class="mb-3">
                    <label for="periodo" class="form-label">Periodo</label>
                    <input type="text" class="form-control" id="periodo" 
                    placeholder="info anterior" [(ngModel)]="expeLab.periodo" required>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"> Guardar </button>
                </div>

            </div>

            

        </form>
            
        </div>
    </div>
</div>