
<div class="container text-center border">
  <div class="row espaciador">
      <div class="col"> <h2> Acerca de mi </h2> </div>
      <div class="col"> </div>
      <div class="col"> </div>
      <div class="col"> </div>
      <div class="col"> 
        <button class="btn btn-light" type="button" data-bs-toggle="modal" 
        data-bs-target="#editarUser" *ngIf="isLogged" (click)="editUser()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>
        </button>
      </div>
    </div>
    <div class="">
      <p> {{user.descripcion}}</p>
    </div>
</div>

<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarUser">
    BOTON DE EDITAR USER
  </button>
-->
<!-- Modal -->
<div class="modal fade" id="editarUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Informacion SSSPersonal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" *ngIf="edit">

                <label for="nombreEdit" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombreEdit" placeholder="info anterior"
                name="nombreEdit" [(ngModel)]="user.nombre" required>

                <label for="apellidoEdit" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellidoEdit" placeholder="info anterior"
                name="apellidoEdit" [(ngModel)]="user.apellido" required>

                <label for="emailEdit" class="form-label">Email</label>
                <input type="text" class="form-control" id="emailEdit" placeholder="info anterior"
                name="emailEdit" [(ngModel)]="user.email" required>

                <label for="tituloEdit" class="form-label">Titulo Principal</label>
                <input type="text" class="form-control" id="tituloEdit" placeholder="info anterior"
                name="tituloEdit" [(ngModel)]="user.titulo" required>

                <label for="descripcionEdit" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcionEdit" placeholder="info anterior"
                name="descripcionEdit" [(ngModel)]="user.descripcion" required>

                <label for="urlPerfilEdit" class="form-label">Url de foto Perfil</label>
                <input type="text" class="form-control" id="urlPerfilEdit" placeholder="info anterior"
                name="urlPerfilEdit" [(ngModel)]="user.urlPerfil" required>

                <label for="uLinkedinEdit" class="form-label">Link de LinkedIn</label>
                <input type="text" class="form-control" id="nuLinkedindit" placeholder="info anterior"
                name="uLinkedinEdit" [(ngModel)]="user.ulinkedin" required>

                <label for="ufacebookEdit" class="form-label">Link de Facebook</label>
                <input type="text" class="form-control" id="ufacebookEdit" placeholder="info anterior"
                name="ufacebookEdit" [(ngModel)]="user.ufacebook" required>

                <label for="uinstagramEdit" class="form-label">Link de Instagram</label>
                <input type="text" class="form-control" id="uinstagramEdit" placeholder="info anterior"
                name="uinstagramEdit" [(ngModel)]="user.uinstagram" required>

                <label for="ugithubEdit" class="form-label">Link del GitHub</label>
                <input type="text" class="form-control" id="ugithubEdit" placeholder="info anterior"
                name="ugithubEdit" [(ngModel)]="user.ugithub" required>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Editar</button>
                </div>
              </form>
        </div>
    </div>
</div>
  