
<div class="container text-center border">
    <div class="row espaciador">
        <div class="col"> <h2> Acerca de mi </h2> </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> </div>
        <div class="col"> <button class="btn btn-outline-success" type="submit"> edit</button></div>
      </div>
      <div class="">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur consequuntur cumque molestiae, quasi at sequi illo expedita quod, nobis, inventore id dolorum repellendus eos ut adipisci accusantium exercitationem ex quibusdam!</p>
      </div>
  </div>