<app-nav></app-nav>
<app-cabezera></app-cabezera>
<app-acerca-de-user></app-acerca-de-user>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-skills></app-skills>
<app-proyectos></app-proyectos>
<app-footer></app-footer>
<app-crear-educacion></app-crear-educacion>
<app-crear-experiencia></app-crear-experiencia>
<app-crear-proyecto></app-crear-proyecto>
<app-crear-skill></app-crear-skill>
<app-edicion-educacion></app-edicion-educacion>
<app-edicion-experiencia></app-edicion-experiencia>
<app-edicion-info-user></app-edicion-info-user>
<app-edicion-proyecto></app-edicion-proyecto>
<app-edicion-skill></app-edicion-skill>

