<div class="grid text-center container img-banner separador-superior" style="background-image: url({{user.urlBanner}});">
  <div class="g-col-6"><div class="row ">
    <div class="col espaciador"><img class="img-user" src={{user.urlPerfil}} alt="Portada user"></div>
    <div class="grid text-center" style="--bs-columns: 18; --bs-gap: .5rem;">
      <div style="grid-column: span 14;"><div class="col letra-banner"> <p>{{user.apellido}} {{user.nombre}} </p> </div>
      <div class="col"> </div>
      <div class="col letra-banner"> <p> {{user.titulo}} </p> </div>
      <div class="col"> </div></div>
    </div>
</div>