
<div class="container text-center img-banner separador-superior">
    <div class="row ">
      <div class="col espaciador"><img class="img-user" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Portada user"></div>
    </div>
    <div class="row espaciador">
        <div class="col letra-banner"> <h2> Rojas Marcos Adrian </h2> </div>
        <div class="col"> </div>
        <div class="col letra-banner"> <h3> Desarrollador web full stack </h3> </div>
        <div class="col"> </div>
        <div class="col"> <button class="btn2">
            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg> </button>
        </div>
      </div>
  </div>