
.img-banner {
    width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-width: -2px;
    border-color: #4f4f4f;
    padding-left: 0;
    padding-right: 0;
}

.img-user {
    border-radius: 50%;
    border-style: solid;
    border-width: -1px;
    border-color: #4f4f4f;
    margin: 2em 2em 2em 2em;
    padding-left: 0;
    padding-right: 0;
    width: 15em;
}

.espaciador {
    margin-top: 1em;
    margin-bottom: 1em;
}

.letra-banner {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px #000000;
}
h1{
    font: 2.25em sans-serif;
}
h2{
    font: 1.75em sans-serif;
}
p{
    font: 1.3em sans-serif;
}
.separador-superior {
    margin-top: 1em;
}

.contorno {
    border-style: solid;
    border-color: #4f4f4f;
    border-width: 1px;
    background-color: #4f4f4f38;
}

.btn2 {
    background-color: #00000000;
    border-color: #4f4f4f00;
}
.degradado2 {
    background: -webkit-linear-gradient(left top, rgb(223, 95, 20) , rgb(65, 210, 200))
}

.izquierda {
    margin-left: 2em;
}

