/**.imagen_baner {
    width: 99%;
    height: 99%;
    padding: auto;
    margin: 0.5% 0.5% 0.5% 0.5%;
    border-style: solid;
    border-color: #4f4f4f;
    border-width: -5px;
    border-radius: 15px; 
}

.correccion{
    padding-top: 4.5rem;
}

.position_relative {
    position: relative;
    
}
.imagen_user {
    width: 20%;
    height: 20%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    left: 10px;
    top: -100px;
    box-shadow: -2px -2px #4f4f4f;
}
.fondo {
    background-color: #4f4f4f;
    border-radius: 20px;
}
.centrar {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.organization-info {
    padding-left: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -30px;
    top: -200px;

}
.info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info ul li {
    display: inline-block;
    max-width: 80%;
}

.info ul li h2 {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.info ul li p {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.imagen2 {
    border-radius: 5px;
}

.info ul li button {
    
    color: #000000;
    border-radius: 10px;
    border-color: #adadad;
}*/
