<div class="grid text-expas container img-banner separador-superior fondoConteiner" ngClass="degradado">
  <div class="row ">
    <div class="col-4 align-self-center">
      <img class="img-user" src={{user.urlPerfil}} alt="Portada user">
    </div>
    <div class="col-6 align-self-center letra-banner" >
      <div><h1>{{user.apellido}} {{user.nombre}} </h1></div>
      <div><h2>{{user.titulo}} </h2></div>
        <div>
          <div><p> ¿Quieres mas informacion de como trabajo o agendar una reunion conmigo? Podes contactarte por estos medios</p></div>
          <div><p> Email: {{user.email}}</p></div>
          <div><p> Celular: +4</p></div>
        </div>
    </div>
  </div>
</div>
