<header class="nav"> 
   <div class="container organization-nav">
        <nav class="nav-header">
            <ul>
                <li> <img class="img-responsive" src="https://media-exp1.licdn.com/dms/image/C560BAQGv-Dd7A2pQ0g/company-logo_200_200/0/1646458288684?e=1668038400&v=beta&t=aCy5rvar4YScSQRxUI-ginORpMnloIK2sJSfHTfjfNU" width="40px" height="40px" alt="Logo Argentina Programa"></li>
                <li>  <p class="name">Argentina Programa </p> </li>
            </ul>
        </nav>  
        <nav class="nav-header">
            <ul>
                <li> <a href=""> Instagram </a></li>
                <li> <a href=""> Linkedin </a></li>
                <li> <button class="button" > LOGIN </button></li>
            </ul>
        </nav>
    </div>
</header> 