<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editarExperiencia">
    BOTON DE editar Educacion
  </button>
-->
<!-- Modal -->
<div class="modal fade" id="editarEducacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Educacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                
                    <label for="tituloEdit" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="tituloEdit"
                     placeholder="info anterior">
                
                    <label for="institucionEdit" class="form-label">Institucion</label>
                    <input type="text" class="form-control" id="institucionEdit"
                     placeholder="info anterior">
                
                    <label for="periodoEdit" class="form-label">Periodo</label>
                    <input type="text" class="form-control" id="periodoEdit"
                     placeholder="info anterior">
                     <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
            </form>
            </div>
            
        </div>
    </div>
</div>