body {
    font-family: Georgia, Times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}


.cotainer { 
    width: 95%;
    max-width: 1000px;
    margin: 0 ;   
}

.border {
    border-style: solid;
    border-radius: 20px;
    border-color: #505050;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}